Flask==0.12.2
Jinja2==2.10
MarkupSafe==1.0
Werkzeug==0.14.1
Flask_WTF==0.14.2
WTForms==2.1
Flask_SQLAlchemy==2.3.2
flask_migrate==2.1.1
flask_script==2.0.6
flask_socketio
SpeechRecognition
py-googletrans
mysqlclient
googletrans==2.2.0
gTTS==1.2.2
gTTS-token==1.1.1
